@use './src/_variables.scss';

.navigationLink {
  text-decoration: none;
  color: black;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  width: 100%;
}
.navigationLinkHover {
  &:hover {
    @include variables.border-bottom;
    border-radius: 4px 4px 0 0;
  }
}
